body {
    margin: 0;
    padding: 0;
    background-color: #36393f; /* Discord gray background */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Discord font stack */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #36393f; /* Discord gray background */
}

.box {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #2f3136; /* Discord lighter gray box background */
}

.box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

h2 {
    margin: 10px 0;
    color: white; /* Light text color */
}

p {
    margin: 0;
    flex-grow: 1;
    color: #b9bbbe; /* Discord text color */
}

.box-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #7289da;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.box-link:hover {
    background-color: #5a68a2;
}
