/* Apply general styles to the body and headings */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Black background */
    margin: 0;
    padding: 0;
}

/* Style the giant title */
.giant-title {
    text-align: center;
    font-size: 48px; /* Larger font size */
    margin: 0; /* Reset margin to remove spacing */
    padding: 20px 0; /* Decreased padding from top and bottom */
    color: white; /* Spotify green */
}

/* Center the boxes */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px; /* Adjusted padding from top and bottom */
}

/* Center the boxes */
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto 0; /* Add 20px to margin-top */
    padding: 50px;
}

/* Style the boxes */
.box {
    border: none; /* Remove border */
    padding: 40px; /* Increase padding */
    margin: 20px; /* Increase margin for more space between boxes */
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #1e1e1e; /* Darker black background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Slight shadow */
    border-radius: 15px; /* More rounded corners */
}

.box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px; /* Increase margin */
    border-radius: 15px; /* More rounded images */
}

h2 {
    margin: 20px 0; /* Increase margin */
    font-size: 24px; /* Bigger font size */
    color: #fff; /* White header text */
}

p {
    margin: 10px 0; /* Increase margin */
    color: #B3B3B3; /* Light gray paragraph text */
}

.box-link {
    display: inline-block;
    margin-top: 30px; /* Increase margin */
    padding: 15px 30px; /* Bigger button padding */
    background-color: #1DB954; /* Spotify green */
    color: white;
    text-decoration: none;
    border-radius: 15px; /* More rounded corners */
    font-size: 20px; /* Bigger font size */
    font-weight: bolder;
}

/* Add additional styling as needed */
