body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Change this to 'flex-start' to increase space at the top */
    min-height: 100vh;
}


#now-playing {
    margin-bottom: 30px; /* Adjust this value as needed */
}

.container {
    text-align: center;
    padding: 40px;
}

.h2 {
    margin-top: 100px; /* Adjust this value as needed */
    padding: 20px 0;
    background-color: #1db954;
    color: white;
    font-size: 36px;
    border-radius: 8px;
}


.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
}

th {
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: bold;
    color: #b3b3b3;
}


.currently-playing {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 12px 20px;
    font-size: 18px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    z-index: 999;
}


.back-button:hover {
    background-color: #15a745;
    transform: scale(1.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.back-link {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#song-title {
    font-weight: bold;
    font-size: 32px;
    color: white;
}

#artist {
    font-size: 20px;
    color: #b3b3b3;
}

.back-arrow {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 900;
}

h2{
    font-size: 50px;
}

.section-heading {
    font-size: 24px;
    font-weight: bold;
    color: #1db954;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#songHeading{
    padding-top: 10px;
}

#song-history{
    margin-top: 100px;
    margin-bottom: 50px;
}