/* Apply general styles to the body and headings */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Discord font stack */
    background-color: #36393f; /* Discord gray background */
    margin: 0;
    padding: 0;
    color: white; /* Light text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.header {
    padding: 20px 0;
    background-color: #7289da; /* Discord blue header */
    color: white;
}

/* Style the table */
.table {
    width: 80%;
    border-collapse: collapse;
    background-color: #2f3136; /* Discord lighter gray box background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners */
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #444; /* Slightly darker line */
    vertical-align: middle; /* Vertically center the content */
}

th {
    background-color: #36393f; /* Match the background color */
}

tr:hover {
    background-color: #40444b; /* Darker color on hover */
}

/* Additional styles for the "currently-playing" element */
.currently-playing {
    background-color: #40444b; /* Darker background */
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    border-radius: 8px; /* Rounded corners */
}
