<!DOCTYPE html>
<html>
<head>
    <title>A State of Armin Station</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function refreshArminTable() {
            $.get('/refresh/armin', function(data) {
                $('#song-history tbody').html(data);
            });
        }

        $(document).ready(function() {
            refreshArminTable();
            setInterval(refreshArminTable, 5000); // Refresh every 5 seconds
        });
    </script>
</head>
<body>
    <div id="song-history">
        <h2>A State of Armin Song History</h2>
        <table>
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Times Played</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <!-- The song history will be populated dynamically -->
            </tbody>
        </table>
    </div>
</body>
</html>
