<!DOCTYPE html>
<html>
<head>
    <title>Chill Station</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function refreshChillTable() {
            $.get('/refresh/chill', function(data) {
                var splitData = data.split('<!--SPLIT-->'); // Split data into now playing and history
                $('#now-playing').html(splitData[0]);
                $('#song-history tbody').html(splitData[1]);
            });
        }
        $(document).ready(function() {
            refreshChillTable();
            setInterval(refreshChillTable, 5000); // Refresh every 5 seconds
        });
    </script>
</head>
<body>
    <div class="back-button">
        <a href="{{ url_for('landing_page') }}" class="back-link">Back</a>
    </div>
    <div id="song-history">
        <h2>Chill Song History</h2>
        <div class="section-heading">Now Playing</div>
        <div id="now-playing">
            <!-- Now Playing section will be populated dynamically -->
        </div>
        <div class="section-heading">Song History</div>
        <table>
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Times Played</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <!-- Song history (excluding now playing) will be populated dynamically -->
            </tbody>
        </table>
    </div>
</body>
</html>
